@import url(./header.css);
@import url(./slider.css);
@import url(./impacto.css);
@import url(./proyectos.css);
@import url(./testimonios.css);
@import url(./aliados.css);
@import url(./equipo.css);
@import url(./podcast.css);
@import url(./formulario.css);
@import url(./footer.css);

:root{
    --greenPrimary:#4CAF4F;
    --greenSecundary:#A5D6A7;
    --neutral:#E8F5E9;
    --redAction:#E53835;
    --white:#fff;
    --black:#000;
    --blackSecundary:#202C47;
}

body{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.loader {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    z-index: 99999;  
    background: var(--blanco);
  }
 

  .loader {
    color:var(--neutral);
    /* font-family: Consolas, Menlo, Monaco, monospace; */
    font-weight: bold;
    font-size: 28px;
    opacity: 1;
    background-color:var(--greenPrimary);
  }
  .loader:before {
    content: "🌲";
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
  }
  .loader:after {
    content: "🌲";
    display: inline-block;
    animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }